In [1]:
import spatialdata as sd

In [2]:
obj = sd.read_zarr("/well/rittscher/users/qdv200/MPN/xenium/muskaan_project/033691_R2.zarr")

/well/rittscher/users/qdv200/conda/skylake/envs/xenium_env2/lib/python3.10/site-packages/anndata/_core/aligned_df.py:67: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)

In [3]:
adata = obj.tables["table"]

In [4]:
adata.obs

,cell_id,transcript_counts,control_probe_counts,control_codeword_counts,unassigned_codeword_counts,deprecated_codeword_counts,total_counts,cell_area,nucleus_area,region,z_level,nucleus_count,cell_labels
0,aaaabjip-1,83,0,0,0,0,83,24.926251,15.398282,cell_circles,0.0,1.0,1
1,aaaaemgg-1,65,0,0,0,0,65,27.906564,8.218438,cell_circles,0.0,1.0,2
2,aaaamenh-1,135,0,0,0,0,135,59.290158,30.615939,cell_circles,0.0,1.0,3
3,aaaaminb-1,119,0,0,0,0,119,52.607033,22.713595,cell_circles,0.0,1.0,4
4,aaaanfim-1,151,0,0,0,0,151,63.625159,26.777657,cell_circles,0.0,1.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
461767,oioigbpg-1,34,0,0,0,0,34,15.262813,15.262813,cell_circles,6.0,1.0,461768
461768,oioigdgj-1,42,0,0,0,0,42,17.023907,17.023907,cell_circles,6.0,1.0,461769
461769,oioikpkh-1,37,0,0,0,0,37,16.617501,16.617501,cell_circles,6.0,1.0,461770
461770,oioillfb-1,19,0,0,0,0,19,9.844063,9.844063,cell_circles,6.0,1.0,461771
461771,oiojajep-1,13,0,0,0,0,13,7.541094,7.541094,cell_circles,6.0,1.0,461772

In [6]:
adata

AnnData object with n_obs × n_vars = 461772 × 480
    obs: 'cell_id', 'transcript_counts', 'control_probe_counts', 'control_codeword_counts', 'unassigned_codeword_counts', 'deprecated_codeword_counts', 'total_counts', 'cell_area', 'nucleus_area', 'region', 'z_level', 'nucleus_count', 'cell_labels'
    var: 'gene_ids', 'feature_types', 'genome'
    uns: 'spatialdata_attrs'
    obsm: 'spatial'

In [5]:
import anndata as ad

#save the anndata

adata.write_h5ad("/well/rittscher/users/qdv200/MPN/xenium/muskaan_project/033691_R2.h5ad")